/* index.css */
.breadcrumb-link {
    font-size: 14px;
    color: #1890ff;
    text-decoration: underline;
    cursor: pointer;
}

.breadcrumb-link:last-child {
    color: #000;
    text-decoration: none;
    cursor: default;
}
